body {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nanum Pen Script';
	min-height: 100vh;
	margin: 0px;
	overflow: hidden;
}

@media (min-width: 650px) {
	.App {
		width: 640px;
	}
}

@media (max-width: 650px) {
	.App {
		width: 90vw;
	}
}

#root {
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
	min-height: 100vh;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

/* TopBox */
.TopBox {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 650px) {
	.TopBox {
		height: 45px;
	}
}
/* MyBtn */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
button {
	font-size: 80%;
	margin: 10px;
	position: relative;
	border: none;
	padding: 10px 15px;
	border-radius: 10px;
	font-family: 'paybooc-Light', sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	white-space: nowrap;
}
button:hover {
	letter-spacing: 2px;
	transform: scale(1.1);
	cursor: pointer;
}

/* MenuBtn */
.menuBtn.On {
	display: block;
	background-color: #a3a1a1;
	color: #e3dede;

	padding: 20px 30px;
	font-size: 150%;
}

.menuBtn {
	display: none;
}
/* selectBtn */
@media (max-width: 650px) {
	.menuBtn.On {
		width: 80vw;
	}
	.selectBox.On {
		width: 80vw;
	}
}
@media (min-width: 650px) {
	.menuBtn.On {
		width: 400px;
	}
	.selectBox.On {
		width: 400px;
	}
}
.selectBox.On {
	display: flex;
	justify-content: space-between;
	background-color: #a3a1a1;

	border: none;
	padding: 5px 15px;
	border-radius: 10px;
	font-family: 'paybooc-Light', sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	transition: 0.25s;
}

.selectBox {
	display: none;
}

/* Map */
.Map {
	padding: 7px;
	background-color: #a3a1a1;
	border-radius: 10px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	transition: 0.25s;
}
#map {
	border-radius: 8px;
}
@media (max-width: 650px) {
	#map {
		width: 100%;
		height: 40vh;
	}
}
@media (min-width: 650px) {
	#map {
		width: auto;
		height: 400px;
	}
}

.Editor {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* input */
input {
	font-size: 15px;
	border: 5px solid #a3a1a1;
	border-radius: 15px;
	outline: none;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(233, 233, 233);
	font-weight: 600;
	text-align: center;
	transition: 0.25s;
}
input:hover {
	letter-spacing: 2px;
	transform: scale(1.1);
	cursor: pointer;
}
.input {
	border: 5px solid #a3a1a1;
}
.input.block {
	border: 5px solid #495057;
}
.input.block:hover {
	border: 5px solid #ff4040;
}

@media (max-width: 650px) {
	input {
		width: 60%;
		height: 35px;
		font-size: 80%;
	}
}
@media (min-width: 650px) {
	input {
		width: 270px;
		height: 40px;
	}
}

.reset {
	display: none;
	margin: 10px;
}
.reset.on {
	display: block;
	font-size: 15px;
	border: 5px solid #495057;
	border-radius: 15px;
	outline: none;
	padding: 5px;
	background-color: rgb(233, 233, 233);
	font-weight: 600;
	text-align: center;
	transition: 0.25s;
}
.reset:hover {
	letter-spacing: 2px;
	transform: scale(1.1);
	cursor: pointer;
}
.MarkerBox {
	margin-top: 20px;
	height: 30vh;
}
.marker {
	display: flex;
	background-color: rgb(233, 233, 233);
	border: 5px solid #a3a1a1;
	border-radius: 15px;
	outline: none;
	font-size: 100%;
	margin: 10px;
	position: relative;
	padding: 10px 15px;
	font-family: 'paybooc-Light', sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	white-space: nowrap;

	text-align: center;
	justify-content: center;
}
.marker:hover {
	border: 5px solid #ff4040;
	letter-spacing: 2px;
	transform: scale(1.05);
	cursor: pointer;
}
img {
	width: 30px;
	height: 35px;
}
.markerPoint {
	width: 100%;
	height: 35px;
	line-height: 35px;
}

.customoverlay {
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	float: left;
}
.customoverlay:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}
.customoverlay .title {
	display: block;
	text-align: center;
	background: #fff;
	margin-right: 35px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bold;
}
.customoverlay:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: -12px;
	width: 22px;
	height: 12px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}

.customoverlay.red a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	background: #ef7b7b;
	background: #ef7b7b
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat
		right 14px center;
}
.customoverlay.orange a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	background: #efa47b;
	background: #efa47b
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat
		right 14px center;
}
.customoverlay.blue a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	background: #7ba9ef;
	background: #7ba9ef
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat
		right 14px center;
}
.customoverlay.purple a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	background: #997bef;
	background: #997bef
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat
		right 14px center;
}